<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

		{{!--Bootstrap CDN--}}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		
		{{!-- Google Font--}}
		<link href="https://fonts.googleapis.com/css?family=Amaranth|Frijole" rel="stylesheet">
		
		{{!--Additional styles--}}
		<link rel="stylesheet" href="../../../assets/css/burger_style.css" type="text/css">
		<title>MVC With Burgers!</title>
	</head>
	<body>
		<div class="row">
			<div class="container">
				<div class="jumbotron">
					<div class="container">
						<h1 class="display-3 text-center"><img src="../../assets/img/burger.png" width="150px" height="150px">Let's Eat-Da-Burger</h1>
						<p class="lead text-right"><span style="text-decoration: none"><font color=#ff0000>P</font><font color=#f3210b>o</font><font color=#e84116>w</font><font color=#dd6121>e</font><font color=#d27f2c>r</font><font color=#c79a37>e</font><font color=#bcb342>d</font> <font color=#a6dc58>b</font><font color=#9beb63>y</font> <font color=#85fc79>B</font><font color=#79fe85>u</font><font color=#6efd90>r</font><font color=#63f69b>g</font><font color=#58eca6>e</font><font color=#4dddb1>r</font> <font color=#37b5c7>Q</font><font color=#2c9dd2>u</font><font color=#2181dd>e</font><font color=#1663e8>e</font><font color=#0b44f3>r</font></span></p>
						<hr class="my-4">
					</div>
				</div>
			</div>
		</div>
		{{{ body }}}
		<div class="forkit-curtain">
		</div>
		<a class="forkit" data-text="Top Secret" data-text-detached="Drag down >" href="https://github.com/kittybellth/sequelizedBurger"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://github-camo.global.ssl.fastly.net/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub"></a>
		<script src="../../../assets/js/forkit.js" type="text/javascript"></script>
	</body>
</html>
