<div class="container">
  <div class="row">
    {{!--Burgers List--}}
      <div class="col">
        <ol>
          {{#each burgers}}
            {{#unless this.devoured}}
                   <form action="/{{this.id}}?_method=PUT" method="POST">
                      <div class="row">
                        <div class="col">                  
                          <li>{{this.burger}}</li>               
                        </div>
                        <div class="col">
                          <input type="hidden" name="devoured" value="true"> 
                          <button type="submit button" id="devoured_it" class="btn btn-warning">Devour It!</button>          
                        </div>
                      </div>
                    </form>
            {{/unless}}
          {{/each}}
        </ol>       
      </div>

      {{!-- Form Group--}}
      <div class="col text-center">   
          <h2>What you wanna eat?</h2>
            <form class="create-update-form" action="/" method="POST">
               <div class="form-group">
                  <textarea class="form-control" id="exampleTextarea" rows="3" type="text" name="burger"></textarea>
                  <button type="submit button" class="btn btn-danger">Submit</button>
                </div>
            </form>
      </div>

      {{!--Devoured--}}
      <div class="col">
        <ol id="devoured">
          {{#each burgers}}
            {{#if this.devoured}}
            <div class="row">
              <div class="col">
                <li>
                  {{this.burger}}  
                </li>
              </div>
              <div class="col">
              {{> burgers/delete-burger}}
              </div>
            </div>
            {{/if}}
          {{/each}}
        </ol>
      </div>
  </div>
</div>
