<div class="container">
  <div class="row">
    {{!--Burgers List--}}
      <div class="col">
        <ol>
          {{#each burgers}}
            {{#unless this.devoured}}
                <div class="row">
                  <div class="col">                  
                    <li>{{this.burger}}</li>      
                    {{> burgers/customer}}         
                  </div>
                  <div class="col">
                    <button type="submit button" class="btn btn-warning devoured_it" value={{this.id}}>Devour It!</button>          
                  </div>
                </div>
            {{/unless}}
          {{/each}}
        </ol>       
      </div>

      {{!-- Form Group--}}
      <div class="col text-center">   
          <h2>What you wanna eat?</h2>
            {{!--<form class="create-update-form" action="/" method="POST">--}}
               <div class="form-group">
                  <textarea class="form-control" id="exampleTextarea" rows="3" type="text" name="burger"></textarea>
                  <button type="submit button" class="btn btn-danger" id="add_burger">Submit</button>
                </div>
            {{!--</form>--}}
      </div>

      {{!--Devoured--}}
      <div class="col">
        <ol id="devoured">
          {{#each burgers}}
            {{#if this.devoured}}
            <div class="row">
              <div class="col">
                <li>
                  {{this.burger}} (Eaten By {{this.customer}})
                </li>
              </div>
              <div class="col">
              {{> burgers/delete-burger}}
              </div>
            </div>
            {{/if}}
          {{/each}}
        </ol>
      </div>
  </div>
</div>
