<form class="create-update-form" action="/" method="POST">
    <div class="form-group">
        <input class="form-control" id="exampleInput" type="text" name="customer" placeholder="Customer?"></textarea>
    </div>
</form>